footer{
    background: #f8f8f8;
}

.footer__info-title{
    color: #333333;
    font-size: calc(10px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));
}
.footer__info-title>p{
    padding-bottom: .5rem !important;
}
.footer__info-link,
.footer__info-address>p{
    font-size: calc(6px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));
}
.footer__info-address>p{
    font-weight: bold;

    margin-bottom: .5rem !important;

    color: #707070;
}
.footer__info-link:hover>a{
    color: #333333;
}

@media only screen and (max-width: 768px){
    .footer__info-title{
        font-size: smaller;
    }
    .footer__info-link,
    .footer__info-address>p{
        font-size: small;
    }
    .footer__info {
        width: calc(100% / 2);
        padding-right: 10px;
        margin-bottom: 30px;
    }
}

