@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Reset */
html,body{
    width: 100%; height: 100%;
    margin: 0px; padding: 0px;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
}
ul, ol {
    margin: 0;
    padding: 0
}
/* Reset Bootstrap */
.form-select{
    border: 1px solid #333;
    
    padding: 10px;
    
    border-color: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    outline: unset;
}
/* Default body */
body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    color: #707070;
}
a {    
    text-decoration: none;
    color: #707070;
}
a:hover{
    text-decoration: none;
}

.custom-container{
    width: 100%;
    max-width: 1600px;
    padding: 0 10px;
    margin: 0 auto;
}
@media only screen and (max-width: 1700px){
    .custom-container {
        max-width: 1400px;
    }
}
@media only screen and (max-width: 1400px){
    .custom-container {
        max-width: 1200px;
    }
}
@media only screen and (max-width: 1200px){
    .custom-container {
        max-width: 992px;
    }
}
@media only screen and (max-width: 992px){
    .custom-container {
        max-width: 100%;
        padding: 0 20px;
    }
}

.bran__list-name{
    /* font-family: 'Bodoni Moda', serif; */
    /* font-family: 'Merriweather', serif; */
    font-family: 'Noto Serif', serif;
}

/* Slick slider */
.slick-next,
.slick-prev{
    width: unset;
    height: unset;
    padding: 5px;

    border: 1px solid #333;
}
    .slick-next:hover,
    .slick-prev:hover{
        border-color: #3b99fc;
    }
    .slick-next:hover svg,
    .slick-prev:hover svg {
        stroke: #3b99fc;
    }
.slick-next::before,
.slick-prev::before{
    display: none;
}
.slick-prev{
    left: -3.22917vw;
}
.slick-next{
    right: -3.22917vw;
}
.slick-list{
    padding: 2rem 0 !important;
}
@media only screen and (max-width: 1400px){
    .slick-prev{
        left: -2.22917vw;
    }
    .slick-next{
        right: -2.22917vw;
    }
}

.product__filter h3{
    font-family: 'Playfair Display', serif;
}




/* Variable */
:root{
    --black: #333;
    --white: #fafafa;
    --blue-dior: #3b99fc;

}