@import url(assets/css/main/global.css);

/* Header (image, icon, text): color and size */
.header{
    background-color: #fff;
}
    .header__top{
        border-bottom: 1px solid #ddd;
    }
        .header__top-link,
        .header__top input{
            font-size: calc(4px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));
        }

        .header__top span{
            height: calc(10px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));
        }
        .header__top svg{
            width: calc(10px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));
            height: calc(10px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));
        }
        .header__top-link span{
            align-items: center;
            vertical-align: middle;
        }
        .header__top-link .text,
        .header__top-link .icon{
            vertical-align: middle;
            display: inline-block;
        }
        .header__top-link:hover{
            color: var(--blue-dior);
        }
        .header__top-link:hover svg{
            stroke: var(--blue-dior);
        }
            .header__top .searchform,
            .header__top .searchform ::-webkit-input-placeholder{
                color: #fff;
                border-color: #fff;
                background-color: #fff;
            }
            .header__top .searchform:hover,
            .header__top .searchform:focus-within{
                border-color: var(--blue-dior);
                box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
            }
            .header__top .searchform:hover ::-webkit-input-placeholder,
            .header__top .searchform:focus-within ::-webkit-input-placeholder{
                color: #a0a0a0
            }
    .logo{
        max-height: 50px;
    }
        .action__icon{
            max-height: calc(10px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));
            max-width: calc(10px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));
        }
        .cart,
        .cart-mobile{
            position: relative;
        }
        .cart span,
        .cart-mobile span{
            position: absolute;
            
            bottom: -30%;
            right: -30%; 

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #de2b2b;
            color: #fff;
        }
        .cart span{
            width: calc(4px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));;
            height: calc(4px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));;
            font-size: 0.75rem;
            line-height: 1;
        }
        .cart-mobile span{
            width: 16px;
            height: 16px;
            font-size: 10px;
            line-height: 1;
        }
    /* Header__Navigation-list (PC/Mobile): text size, resize */
.nav__link,
.nav__link-mobile{
    text-transform: uppercase;
    color: #a0a0a0;
}
.nav__link{
    font-size: calc(10px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));
}
.nav__link a{
    position: relative;
    display: block;
}
.nav__link a::after{
    position: absolute;
    content: "";

    height: 3px;
    width: 0%;
    background-color: var(--blue-dior);
    
    bottom: 0px;
    left: 0;
    transition: all 0.3s ease-in-out;
}
.nav__link:hover a::after{
    width: 100%;
}
.nav__link:hover a,
.nav__link-mobile:hover a{
    color: var(--blue-dior) !important;
}

.nav__link-mobile{
    font-size: calc(20px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));
}

.nav__mobile{
    display: none;
}
    .overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #070f26; opacity: .7;
        z-index: 100;

        animation: fadeIn linear 0.45s;
    }
    .nav__mobile-list{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: calc(81.6vw);
        background-color: #fff;
        z-index: 100;
    }
        .nav-close{
            transform: translateX(-100%);
            transition: transform linear 0.45s;
        }
        .nav-open{
            transform: translateX(0%);
            transition: transform linear 0.45s;
        }

        .nav__mobile-footer{
            background: #f9f9f9;
        }
            .nav__mobile-footer p:hover a{
                color: var(--blue-dior);
            }
@media only screen and (max-width: 992px){  
    .nav__pc,
    .header__top{
        display: none;
    }
    .nav__mobile{
        display: block;
    }
    .cart span,
    .cart-mobile span{
        top: 40%;
        right: -20%; 
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: .7;
    }
}

