.main{
    margin-bottom: 1000px;
}
.line{
    height: 2px; width: 7.03125vw;
    margin: 0 auto;

    background-color: #4d4d4d;
}
.home-title{
    text-transform: uppercase;
    color: #4d4d4d;
    font-weight: 500;
}
@media only screen and (max-width: 992px){
    .line{
        width: 71px; height: 1px;
    }
}




.bran__logo:hover {
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}

.bran__viewmore{
    font-size: calc(6px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));
    padding: 10px 20px;
    border: 1px solid #383838;
}
@media only screen and (max-width: 768px){
    .bran__viewmore{
        font-size: smaller
    }
}
