@import url(assets/css/main/global.css);
/* .main{
    
} */
.banner__container{
    height: calc(15vw * 1.72);
}
    .banner__container img{
        object-fit: contain;
    }

.line{
    height: 2px; width: 7.03125vw;
    margin: 0 auto;
    background-color: #4d4d4d;
}
.home-title{
    text-transform: uppercase;
    color: #4d4d4d;
    font-weight: 500;
}

.bran__logo{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 8.4375vw;
    width: 20%;
}
    .bran__logo img{
        height: 100%; width: 100%;
        object-fit: contain;
    }
    .bran__logo:hover {
        box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    }

.bran__viewmore{
    font-size: calc(6px + (24 - 10) * ((100vw - 375px)/ (1920 - 375)));
    padding: 10px 20px;
    border: 0.5px solid #383838;
}
    .bran__viewmore:hover {
        color: var(--blue-dior);
        border-color: var(--blue-dior);
    }
@media only screen and (max-width: 992px){
    .content__wrapper .searchform{
        display: none;
    }
    .line{
        width: 71px; height: 1px;
    }
}
@media only screen and (max-width: 768px){
    .searchform{
        width: 100% !important;
    } 
    .bran__viewmore{
        font-size: smaller
    }
    .bran-list__title{
        font-size: smaller;
    }  
    .bran__logo-list>*{
        display: none;
        visibility: hidden;
        height: 0;
        margin: 0;
    }
    .bran__list-img img{
        opacity: 1 !important;
    }
    .bran__list-img{
        height: 13.4375vw !important;
    }
    .bran__list-name{
        font-size: small;
    }
    .bran__list-type{
        font-size: x-small;
    } 
}
@media only screen and (max-width: 600px){
    .bran__list-item{
        width: calc(50% - 10px) !important;
        margin: 0 10px 10px 0px !important;
    }
    .bran__list-img{
        height: 13.4375vw !important;
    }
}
.content__wrapper{
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}
.bran__filter h3{
    font-size: 1.25vw;
    line-height: 1.30208vw;
    margin-right: 16px;
}
    .bran__filter .order__item-wrapper{
        width: 170px;
    }
    .bran__filter svg{
        margin-left: 10px;
    }
    .bran__filter .order__item-dropdown{
        padding: 0.375rem 0.75rem;

        border: 1px solid rgb(221, 221, 221);
        border-radius: 0.25rem;

        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
    }
    .bran__filter .order__item-dropdown_menu .order__item-dropdown_items a{
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
    }
    .bran__filter .order__item-dropdown_menu .order__item-dropdown_items a:hover{
        color: var(--blue-dior);
    }

    .content__wrapper .searchform{
        width: 40%;
    }
.bran__list-line{
    height: 1px; 
    margin: 0 auto;

    background-color: #ddd;
}
    .bran__list-item{
        position: relative;
        width: calc(20% - 1.04167vw);
        margin: 0 0.52083vw 1.04167vw;
        background-color: #fafafa;

        border: unset;
    }
        .bran__list-item:hover a{
            color: #333
        }
        .bran__list-img{
            height: 4.4375vw;
        }
            .bran__list-img img{
                opacity: .5;
                height: 100%; 
                width: 100%;
                object-fit: contain;
            }
            .bran__list-item:hover img{
                opacity: 1;
            }

.content__inner{
    padding: 1.5rem;
}
    .products__content{
        width: 100%;
    }
        .products__menu{  
            width: 17.70833vw;
            /* width: 20%; */
            margin-right: 3.125vw;
        }
            .web__directional{
                margin-bottom: 1.5rem;
            }
                .web__directional li{
                    display: inline;
                    font-size: .83333vw;
                    line-height: .98958vw;
                }
                    .web__directional li a{
                        color: #a0a0a0;
                        text-decoration: none;
                    }
                    .web__directional li:hover a{
                        color: var(--blue-dior);
                    }
                .web__directional li+li::before{
                    content: '/';
                    padding: 0 5px;
                    color: #a0a0a0;
                }
            .product__filter{

            }
                .product__filter{
                    color: #383838;
                }
                    .filter__block:not(:last-child) {
                        margin-bottom: calc(15px + (20 - 15) * ((100vw - 375px)/ (1920 - 375)));
                    }
                        .filter__block h3{
                            font-size: 1.25vw;
                            line-height: 1.30208vw;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #ddd;
                            font-family: "Playfair Display";
                            cursor: pointer;
                            color: inherit;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            text-transform: uppercase;
                        }
                        .filter__block:hover h3{
                            color: var(--blue-dior);
                        }
                        .filter__block svg{
                            height: 1.25vw;
                            width: 1.25vw;
                        }
                        .filter__block:hover svg{
                            stroke: var(--blue-dior);
                        }
                    .filter__inner{
                        padding-top: calc(20px + (24 - 20) * ((100vw - 375px)/ (1920 - 375)));
                        padding-bottom: calc(20px + (40 - 20) * ((100vw - 375px)/ (1920 - 375))); 
                    }
                        .filter__list,
                        .filter__sub-list{
                            max-height: calc(185px + (310 - 185) * ((100vw - 375px)/ (1920 - 375)));
                            overflow: hidden;
                            overflow-y: auto;
                        }   
                            .filter__item {
                                position: relative;
                                overflow: hidden;
                                padding-bottom: 2px;
                            }
                            .filter__item:not(:last-child){
                                margin-bottom: calc(15px + (20 - 15) * ((100vw - 375px)/ (1920 - 375)));
                            }
                            .filter__item::before{
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                height: 1px;
                                width: 28px;
                                background: #383838;
                                transform: translateX(-100%);
                                transition: all .3s ease;
                            }   
                                .checkbox input{
                                    margin-right: calc(10px + (15 - 10) * ((100vw - 375px)/ (1920 - 375)));
                                }
                                .checkbox label>div{
                                    margin-right: 15px;
                                    line-height: 22px;
                                }
                                .checkbox label{
                                    cursor: pointer;
                                    font-size: calc(14px + (20 - 14) * ((100vw - 375px)/ (1920 - 375)));
                                    /* line-height: 1; */
                                }
                                .checkbox span{
                                    font-size: calc(14px + (18 - 14) * ((100vw - 375px)/ (1920 - 375)));
                                    /* line-height: 1; */
                                    color: #d4d4d4;
                                }
                                /* .checkbox{
                                    display: flex;
                                    align-items: flex-start;
                                    color: #383838;
                                }
                                .checkbox input{
                                    position: relative;
                                    border: none;
                                    margin: 3px calc(10px + (15 - 10) * ((100vw - 375px)/ (1920 - 375))) 0 0;
                                    -webkit-appearance: none;
                                    appearance: none;
                                    cursor: pointer;
                                    outline: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                .checkbox label{
                                    cursor: pointer;
                                    font-size: calc(14px + (20 - 14) * ((100vw - 375px)/ (1920 - 375)));
                                    line-height: 1;
                                    color: inherit;
                                    flex: 1;
                                    display: flex;
                                    align-items: center;
                                    flex-wrap: wrap;
                                } */
        .products__list{
            width: calc(100% - 17.70833vw);
        }
            .filter__control{
                padding-top: calc(15px + (28 - 15) * ((100vw - 375px)/ (1920 - 375)));
                padding-bottom: calc(15px + (28 - 15) * ((100vw - 375px)/ (1920 - 375)));
                border-bottom: solid 1px #383838;
                border-top: solid 1px #383838;
                display: flex;
                align-items: center;
            }
                .filter__number{
                    color: #383838;
                    font-size: calc(14px + (20 - 14) * ((100vw - 375px)/ (1920 - 375)));
                    line-height: 1.2;
                    display: flex;
                    align-items: center;
                    margin-right: calc(10px + (40 - 10) * ((100vw - 375px)/ (1920 - 375)));
                }
                .filter__number .text{
                    color: inherit;
                    margin-right: 14px;
                }
                .filter__number span{
                    display: inline-block;
                    color: inherit;
                }
                .filter__number .number span:first-child{
                    position: relative;
                }
                .filter__number .number span:first-child::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    width: 100%;
                    background: #383838;
                    transition: all .3s ease;
                }
                .filter__number .number span:last-child{
                    color: #a0a0a0;
                }
                .filter__pagination{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex: 1;
                }
                    .pagination{
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        padding-left: 0;
                        list-style: none;
                    }
                        .pagination-item{
                            cursor: pointer;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: calc(35px + (45 - 35) * ((100vw - 375px)/ (1920 - 375)));
                            height: calc(35px + (45 - 35) * ((100vw - 375px)/ (1920 - 375)));
                            background: #d4d4d4;
                            color: #fff;
                            margin: 0 calc(2.5px + (13 - 2.5) * ((100vw - 375px)/ (1920 - 375)));
                        }
                        .pagination-item.next, 
                        .pagination-item.previous {
                            background: #fff;
                            border: solid 1px #383838;
                            color: #383838;
                        }
                        .pagination-item.active {
                            cursor: default;
                        }
                        .pagination-item.active {
                            background: #383838;
                        }
                .filter__item-wrapper{
                    display: none;
                    width: calc(50% - 11px);
                }
                    .filter__dropdown{
                        position: relative;
                        width: 100%;
                        padding: 12px calc(12px + (18 - 12) * ((100vw - 375px)/ (1920 - 375))) 8px;
                        color: #383838;
                        background-color: #fff;
                        border: solid 1px #383838;
                        font-weight: 400;
                        font-size: calc(14px + (20 - 14) * ((100vw - 375px)/ (1920 - 375)));
                        line-height: calc(17px + (25 - 17) * ((100vw - 375px)/ (1920 - 375)));
                        display: inline-flex;
                        justify-content: space-between;
                        align-items: center;
                        overflow: hidden;
                        transition: all .3s ease;
                        cursor: pointer;
                    }
                    .filter__dropdown svg{
                        display: inline-block;
                        margin-left: calc(0px + (60 - 0) * ((100vw - 375px)/ (1920 - 375)));
                        width: calc(16px + (18 - 12) * ((100vw - 375px)/ (1920 - 375)));
                        height: calc(16px + (18 - 12) * ((100vw - 375px)/ (1920 - 375)));
                        transition: all .3s ease;
                    }
                    
@media only screen and (max-width: 1200px){
    .web__directional li{
        font-size: 14px;
        line-height: 18px;
    }
    .filter__control{
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 992px){
.bran__filter h3{
    font-size: 14px;
    line-height: 20px;
}
    .bran__filter .order__item-dropdown,
    .bran__filter .order__item-dropdown_menu .order__item-dropdown_items a{
        font-size: 12px;
    }
    .products__menu{
        width: 200px;
        margin-right: 30px;
    }
            .web__directional li{
                font-size: 12px;
                line-height: 14px;
            }
            .web__directional li+li::before{
                padding: 0 5px 0 0;
            }
        .product__filter{
            
        }
            .filter__block svg{
                height: 14px;
                width: 14px;
            }
            .filter__block h3{
                font-size: 14px;
                line-height: 20px;
            }
}
@media only screen and (max-width: 768px){
.bran__filter{
    flex: wrap;
    width: 100%;
    justify-content: space-between;
    /* margin-bottom: 9px; */
}
    .bran__filter h3{
        font-size: 16px;
        line-height: 25px;
        width: 100%;
        margin-right: 0; 
    }
    .bran__filter .order__item-wrapper{
        width: 100%;
    }
        .bran__filter .order__item-dropdown{
            font-size: 12px;
        }
        .bran__filter .order__item-dropdown_menu .order__item-dropdown_items a{
            font-size: 12px;
        }

    .content__inner{
        padding: 1.25rem;
    }
        .web__directional{
            margin-bottom: 9px;
        }
        .products__content{
            flex-direction: column;
        }
            .products__menu{
                width: 100%;
                margin-right: 0;
            }
                .product__filter{
                    display: none;
                }
                    .filter__block:not(:last-child) {
                        margin-bottom: 0;
                    }

                        .filter__block{
                            display: none;
                            border-bottom: solid 1px #d4d4d4;
                        }
            .products__list{
                width: 100%;
            }
                .filter__control{
                    border-top: solid 1px #ddd;
                    border-bottom: solid 1px #ddd;
                    padding: 9px 0;
                }
                    .filter__item-wrapper{
                        margin-right: 0;
                        width: calc(50% - 11px);
                    }
                    .filter__dropdown{
                        border: solid 1px #d4d4d4;
                    }
}



